<div class="servicios-marquee-box relative z-[900] h-[100px] flex items-center overflow-hidden text-[#eee] mt-12 text-2xl font-bold">
    <h2 class="whitespace-nowrap flex-shrink-0 px-2.5 w-max flex items-center">
        Diseño de páginas web &nbsp;&nbsp;•&nbsp;&nbsp; Automatización de procesos &nbsp;&nbsp;•&nbsp;&nbsp;
        Reservas automáticas &nbsp;&nbsp;•&nbsp;&nbsp; Formularios personalizados &nbsp;&nbsp;•&nbsp;&nbsp;
        Animaciones web &nbsp;&nbsp;•&nbsp;&nbsp; Optimización SEO &nbsp;&nbsp;•&nbsp;&nbsp; Marketing
        digital &nbsp;&nbsp;•&nbsp;&nbsp; Tiendas online &nbsp;&nbsp;•&nbsp;&nbsp; Identidad visual y
        branding &nbsp;&nbsp;•&nbsp;&nbsp; Diseño gráfico &nbsp;&nbsp;•&nbsp;&nbsp; Gestión de redes
        sociales &nbsp;&nbsp;•&nbsp;&nbsp; Bots de WhatsApp &nbsp;&nbsp;•&nbsp;&nbsp;
    </h2>
    <h2 class="whitespace-nowrap flex-shrink-0 px-2.5 w-max flex items-center">
        Diseño de páginas web &nbsp;&nbsp;•&nbsp;&nbsp; Automatización de procesos &nbsp;&nbsp;•&nbsp;&nbsp;
        Reservas automáticas &nbsp;&nbsp;•&nbsp;&nbsp; Formularios personalizados &nbsp;&nbsp;•&nbsp;&nbsp;
        Animaciones web &nbsp;&nbsp;•&nbsp;&nbsp; Optimización SEO &nbsp;&nbsp;•&nbsp;&nbsp; Marketing
        digital &nbsp;&nbsp;•&nbsp;&nbsp; Tiendas online &nbsp;&nbsp;•&nbsp;&nbsp; Identidad visual y
        branding &nbsp;&nbsp;•&nbsp;&nbsp; Diseño gráfico &nbsp;&nbsp;•&nbsp;&nbsp; Gestión de redes
        sociales &nbsp;&nbsp;•&nbsp;&nbsp; Bots de WhatsApp &nbsp;&nbsp;•&nbsp;&nbsp;
    </h2>
</div>