<footer class="w-full bg-[#111] flex flex-col items-center relative z-[2] justify-center px-4 py-8 text-center">
    
    <ul class="flex flex-col gap-6 text-lg md:flex-row md:gap-16 md:text-xl">
        <div>
            <li class="list-none mb-2">
                <a href="#hero" class="hover-underline-purple">Inicio</a>
            </li>
            <li class="list-none mb-2">
                <a href="#contacto" class="hover-underline-purple">Contacto</a>
            </li>
            <li class="list-none mb-2">
                <a href="#servicios" class="hover-underline-purple">Servicios</a>
            </li>
        </div>
        <div>
            <li class="list-none mb-2">
                <a href="#sobre-nosotros" class="hover-underline-purple">Sobre Nosotros</a>
            </li>
            <li class="list-none mb-2">
                <a href="/aviso-legal" class="hover-underline-purple">Aviso Legal</a>
            </li>
            <li class="list-none mb-2">
                <a href="/terminos-condiciones" class="hover-underline-purple">Términos y condiciones</a>
            </li>
        </div>
    </ul>

    

    <div class="text-[#bbb] text-center my-7">
        <img
            src="/logo-morado.png"
            alt="Logo Altaria Lights"
            onclick="window.location.href='/'"
            class="w-10 h-10 mb-6 rounded-full shadow-glow-purple cursor-pointer mx-auto"
        />
        <p class="mb-2 text-sm md:text-base">&copy; {new Date().getFullYear()} Altaria Lights. Casi todos los derechos reservados.</p>
        <p class="text-sm md:text-base">Diseñado y desarrollado por Martín Camarero y Diego Ruano.</p>
    </div>
</footer>