<header id="main-header" class="fixed top-4 left-4 right-4 h-16 flex justify-between items-center rounded-[20px] px-4 z-[1600] md:px-12 md:left-16 md:right-16 transition-all duration-300">
    <div class="flex items-center gap-3 cursor-pointer" onclick="window.location.href='/'">
        <img class="h-8 rounded-full shadow-glow-purple" src="/logo-morado.png" alt="Logo Altaria Lights"/>
        <h2 class="m-0 text-shadow-glow text-lg font-bold whitespace-nowrap md:text-2xl">Altaria Lights</h2>
    </div>

    <div class="menu-toggle  flex flex-col justify-between w-7 h-5 cursor-pointer z-[1200]" id="menu-toggle">
        <span class="shadow-glow-purple"></span>
        <span class="shadow-glow-purple" ></span>
        <span class="shadow-glow-purple"></span>
    </div>
</header>

<div class="menu-overlay fixed top-0 left-0 w-screen h-screen bg-[#0a0a0a] z-[1000] flex justify-center items-center pointer-events-none" id="menu-overlay">
    <nav>
        <ul class="list-none p-0 text-center">
            <li class="my-6"><a href="#hero" class="hover-underline-purple text-white text-3xl no-underline opacity-0 translate-y-5 transition-all duration-400">Inicio</a></li>
            <li class="my-6"><a href="#servicios" class=" hover-underline-purple text-white text-3xl no-underline opacity-0 translate-y-5 transition-all duration-400">Servicios</a></li>
            <li class="my-6"><a href="#sobre-nosotros" class="hover-underline-purple text-white text-3xl no-underline opacity-0 translate-y-5 transition-all duration-400">Sobre Nosotros</a></li>
            <li class="my-6"><a href="#contacto" class="hover-underline-purple text-white text-3xl no-underline opacity-0 translate-y-5 transition-all duration-400">Contacto</a></li>
        </ul>
    </nav>
</div>

<script src="../scripts/header.js"></script>