---
const phone = "34619132563";
const defaultMessage = "¡Hola!%20Estoy%20interesado%20en%20mejorar%20la%20digitalizaci%C3%B3n%20de%20mi%20empresa%20con%20Altaria%20Lights.%20%C2%BFPodr%C3%ADan%20darme%20m%C3%A1s%20informaci%C3%B3n%3F";
const href = `https://wa.me/${phone}?text=${defaultMessage}`;
---
<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Abrir WhatsApp"
  class="fixed right-10 bottom-10 z-50 inline-flex h-14 w-14 items-center justify-center rounded-full bg-[#25D366] text-white shadow-lg transition-transform duration-200 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#128C7E]"
>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-7 w-7">
    <path d="M20.52 3.48A11.9 11.9 0 0012 .1C5.64.1.64 5.1.64 11.46c0 2.02.53 3.96 1.53 5.68L.1 23.9l6.98-1.83a11.36 11.36 0 005.02 1.06h.02c6.36 0 11.36-5 11.36-11.36 0-3.03-1.18-5.86-3.44-7.69zM12.02 20.5h-.01a9.07 9.07 0 01-4.63-1.27l-.33-.2-4.14 1.09 1.11-4.03-.21-.34A9.09 9.09 0 012.95 11.5c0-5.01 4.08-9.09 9.09-9.09 2.43 0 4.7.95 6.41 2.67a9.02 9.02 0 01-6.43 15.42z"/>
    <path d="M17.06 14.33c-.29-.15-1.72-.85-1.99-.95-.27-.1-.47-.15-.67.15-.2.29-.77.95-.94 1.15-.17.2-.34.22-.63.07-.29-.15-1.21-.44-2.3-1.42-.85-.76-1.42-1.7-1.59-1.99-.17-.29-.02-.45.13-.6.13-.13.29-.34.44-.5.15-.17.2-.29.3-.48.1-.2 0-.37-.05-.52-.07-.15-.67-1.62-.92-2.21-.24-.58-.49-.5-.67-.51-.17 0-.37-.01-.56-.01-.19 0-.5.07-.76.37-.26.29-1 1-1 2.44 0 1.44 1.03 2.84 1.17 3.04.15.2 2.02 3.1 4.9 4.35 2.34 1.03 2.34.69 2.76.65.42-.05 1.36-.55 1.56-1.09.2-.54.2-1 .14-1.09-.07-.09-.26-.15-.55-.29z"/>
  </svg>
</a>